@font-face {
  font-family: "Vazir";
  src: url("fonts/Vazir.eot");
  src: url("fonts/Vazir.eot?#iefix") format("embedded-opentype"),
    url("fonts/Vazir.woff2") format("woff2"),
    url("fonts/Vazir.woff") format("woff"),
    url("fonts/Vazir.ttf") format("truetype");
}

body {
  font-family: "Vazir" !important;
}


/* utilities */

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 1.8 !important;
}



/* header */

.header {
  transition: all 0.5s;
  padding: 13px;
}


.header-scroll {
  background-color: #fff;
  box-shadow: 0px 2px 20px rgb(1 41 112/10%);
}


@media screen and (max-width:992px) {
  .navbar {
    background-color: #fff;
    box-shadow: 0px 2px 20px rgb(1 41 112/10%);
  }
}



/* intro */

.intro {
  background: url(images/intro/intro-bg.png) top center no-repeat;
  height: 100vh;
  width: 100%;
}

.hover-grow {
  transition: all 0.5s;
}

.hover-grow:hover {
  transform: scale(1.1);
}



/* about */


.about .about-text {
  background-color: #f6f9ff;
  padding: 50px;
}

.about.margin-top {
  margin-top: 100px;
}



/* product */


.product.margin-top {
  margin-top: 100px;
}



/* counter  */


.counter.margin-top {
  margin-top: 100px;
}


.bi-emoji-smile {
  color: #4154f1;
}

.bi-journal-richtext {
  color: #ee6c20;
}

.bi-headset {
  color: #15be56;
}

.bi-people {
  color: #bb0852;
}



/* information  */


.information.margin-top {
  margin-top: 100px;
}

.information i {
  font-size: 44px;
  color: #4154f1;
}



/* offers-utilities  */

.offers.margin-top {
  margin-top: 100px;
}

.offers .box-inner span {
  font-size: 18px;
}

.offers .box-inner {
  padding: 60px 30px;
  box-shadow: 0px 2px 20px rgb(1 41 112 / 10%);
}

.offers .icon {
  font-size: 36px;
  padding: 20px;
  display: inline-flex;
  border-radius: 4px;

}

.offers .box-inner a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;

}

.offers .box-inner .bi-arrow-left {
  margin-right: 0.4rem;
  font-size: 18px;
  line-height: 0;

}


/* offers-colers */


.offer-box-blue .box-inner {
  border-bottom: 3px solid #2db6fa;
  transition: all 0.4s;
}

.offer-box-blue .icon {
  color: #2db6fa;
  background-color: #dbf3fe;
}

.offer-box-blue .box-inner a {
  color: #2db6fa;
}

.offer-box-blue .box-inner .bi-arrow-left {
  color: #2db6fa;
}

.offer-box-blue .box-inner:hover {
  background-color: #2db6fa;
}



.offer-box-orange .box-inner {
  border-bottom: 3px solid #f68c09;
  transition: all 0.4s;
}

.offer-box-orange .icon {
  color: #f68c09;
  background-color: #fde3c4;
}

.offer-box-orange .box-inner a {
  color: #f68c09;
}

.offer-box-orange .box-inner .bi-arrow-left {
  color: #f68c09;
}

.offer-box-orange .box-inner:hover {
  background-color: #f68c09;
}



.offer-box-green .box-inner {
  border-bottom: 3px solid #08da4e;
  transition: all 0.4s;
}

.offer-box-green .icon {
  color: #08da4e;
  background-color: #cffddf;
}

.offer-box-green .box-inner a {
  color: #08da4e;
}

.offer-box-green .box-inner .bi-arrow-left {
  color: #08da4e;
}

.offer-box-green .box-inner:hover {
  background-color: #08da4e;
}


/* offer-hover */


.offers .box-inner:hover .icon {
  background-color: #fff;
}

.offers .box-inner:hover h3 {
  color: #fff;
}

.offers .box-inner:hover p {
  color: #fff;
}

.offers .box-inner:hover a {
  color: #fff;
}

.offers .box-inner:hover .bi-arrow-left {
  color: #fff;
}


/* price */

.price.margin-top {
  margin-top: 100px;
}

.pricing-acua {
  color: #07d5c0;
}

.pricing-green {
  color: #65c600;
}

.pricing-orange {
  color: #ff901c;
}

.pricing-red {
  color: #ff0071;
}

.price .price-hover {
  transition: all 0.5s;
}

.price .price-hover:hover {
  transform: scale(1.1);
}


/* contact-us  */


.contact .contact-bg{
  background-color: #fafbff;
  padding: 30px;
}

.contact .contact-bg i{
  font-size: 38px;
  line-height: 0;
  color: #4154f1;
}


.contact .contact-form{
  background-color: #fafbff;
  padding: 30px;
  height: 100%;
}


/* footer */


.footer.margin-top{
  margin-top: 100px;
}

.footer i{
  font-size: 20px;
  color: rgba(1, 41, 112, 0.5);
}


.footer a{
  text-decoration: none;
  color: #000;
}

.footer hr{
  width: 70%;
  height: 5px;
}

.footer-bg{
  background-color: #f6f9ff;
}


.footer .footer-links i{
  font-size: 13px;
}



.test-hover span{
  transition: all 0.3s;
}

.test-hover:hover span{
  margin-right: 10px;
}